<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suites">
    <test name="Test">
        <parameter name = "Browser" value="Chrome"/>
        <parameter name="Locale" value="en"/>
        <parameter name = "Environment" value="UAT"/>
        <classes>
            <class name="assiangroup.tests.LoginTest"></class>
            <class name="assiangroup.tests.ForgotPasswordTest"></class>
            <class name="assiangroup.tests.RegistrationTest"></class>
            <class name="assiangroup.tests.InvalidEmailAddressAndPasswordErrorMessage"></class>
            <class name="assiangroup.tests.BlankEmailAndPasswordErrorMessage"></class>
            <class name="assiangroup.tests.BlankForgotPasswordErrorMessage"></class>
            <class name="assiangroup.tests.BlankFieldsErrorMessageAtRegisterPage"></class>
            <class name="assiangroup.tests.LoginPageUI"></class>
            <class name="assiangroup.tests.ForgotPasswordPageUI"></class>
             <class name="assiangroup.tests.RegistrationPageUI"></class>
            <class name="assiangroup.tests.BackToHomeLinkTest"></class>
        </classes>
    </test>
</suite>